* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;

  /*Cor principal*/
  --AzulVibrante: #2563eb;
  /*Cor secundária*/
  --AmareloEducativo: #facc15;
  /*Destaque*/
  --VerdeSucesso: #22c55e;
  /*Fundo*/
  --CinzaClaro: #f3f4f6;
  /*Texto principal*/
  --AzulEscuro: #1e293b;
  /*Botões / interação*/
  --LaranjaDivertido: #f97316;
}
body {
  background-color: var(--CinzaClaro);
}
header > nav > ol {
  padding: 20px 0px;
  background-color: var(--AzulVibrante);
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}
header a {
  font-weight: bolder;
  color: var(--AzulEscuro);
  text-decoration: none;
}
header a:hover {
  color: var(--AmareloEducativo);
}
